.hero__container {
  background: linear-gradient(135deg, #3b00bb, #512676);
  border-radius: 12px;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  overflow: hidden;
}

.hero__title {
  font-weight: 500;
  font-size: 3rem;
}

.hero__subtitle {
  max-width: 100%;
}

.hero__button {
  margin-top: 20px;
  border-radius: 20px;
  border: 0;
  background-color: transparent;
  max-width: 100%;
  height: 100%;
}
