.projects-carousel-container {
  margin: 70px 40px;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.project-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.project-card-scale{
  width: 100%;
  height: 100%;
  display: flex;
}

.projects-scroll-wrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
  position: relative;
}

.projects-scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.projects-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.project-card-wrapper {
  flex: 0 0 300px;
  position: relative;
  overflow: visible;
  will-change: transform;
  transform-origin: center;
  align-items: center;
  /* width of each card */
}

.project-card-wrapper::before {
  content: "";
  position: absolute;
  inset: -10px;
  background: radial-gradient(circle, rgba(0, 200, 255, 0.2), transparent 70%);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-card-wrapper:hover::before {
  opacity: 1;
}

.carousel-wrapper {
  width: 100%;
  position: relative;
}

.carousel-scroll {
  display: flex;
  gap: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 20px 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.3);
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s;
}

.arrow:hover {
  background: rgba(0,0,0,0.5);
}

.arrow.left {
  left: -50px;
}

.arrow.right {
  right: -50px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}